/* Courses */
#courses{
    color: #333;
    padding: 1rem;

}
.courses{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.courses .course{
    display: flex;
    padding: 05.rem;
    margin-bottom: 0.5rem;

}
.courses .course .course-image{
    margin-right: 0.5rem;
    position: relative;

}
.courses .course .course-image img{
    border-radius: 5px;

}
.courses .course .course-image span{
    background-color: red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
.courses .course .course-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;

}
.courses .course .course-info .description{
    margin-bottom: 0.25rem;
    opacity: 0.7;
}
.courses .course .course-info .instruction{
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
    opacity: 0.7;
}
.courses .course .course-info .rating{
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    opacity: 0.7;
}