* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: seashell;
}

html {
    font-family: 'Open Sans', sans-serif;

}
#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 0.75rem;
    height: 75px; 
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding: 0.5rem;
}
#navbar ul li a:hover{
    background-color: #336ea2;
    border-radius: 4px;
}

/* home */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
}
#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;

}
#home .name h2{
    margin-bottom: 00.75rem;

}
#home .name p{
    opacity: 0.6;
    font-style: italic;
}
/* Training */
#training{
    color: #fff;
    padding: 1rem;

}
#training .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#training .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#training .item:hover{
    color: aqua;
    opacity: 0.7;
}
#contact{
    color: #fff;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;

}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
}
#contact .contact-form ul li a:hover{
    font-size: 2.3rem;
    opacity: 0.8;
}